.confirm-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 11px;
    font-size: 20px;
    font-family: "Itim", cursive;
    color: #564787;
    margin-top: 25px;
    margin-bottom: 30px;
}

.btns-map-confirm {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-accept-delivery {
    background-color: #9AD4D6;
    color: #101935;
    border: none;
    padding: 11px;
    border-radius: 8px;
    font-size: 20px;
    min-width: 90%;
    font-family: "Itim", cursive;
    margin: auto 10px auto;
}

@media screen and (max-width: 450px) {
    .btn-accept-delivery {
    min-width: 70%;
    font-family: "Itim", cursive;
    margin: auto 10px auto;
}
}