.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-picture {
    position: relative;
    top: -40px;
    left: 50px;
    background: #9AD4D6;
    width: 37px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-right: 5px;
    margin-bottom: 0;
}

.edit-picture+.picture-name {
    margin-top: -50px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    font-size: 20px;
    color: #564787;
    margin-bottom: -10px;
}

.subtitle-info input {
    margin-top: 10px;
    color: #101935;
}

.big-icon {
    position: relative;
    top: -45px;
    left: 93%;
}

.small-icon {
    position: relative;
    top: -40px;
    left: 94%;
}

.input-edit {
    font-size: 20px;
    height: 50px;
}

#edit-vehicle {
    height: 55px;
    border-radius: 16px;
    padding-left: 15px;
    font-family: "Itim", cursive;
    font-size: 20px;
    color: #101935;
    margin-bottom: 30px;
}

.error {
    color: red;
    font-size: 18px;
    margin-top: -20px;
}

.forgot-pass {
    font-size: 24px;
    color: #636363;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 765px) {
    .subtitle-info svg {
        left: 85%;
    }
}