.card {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: 2px #000 solid;
  padding: 19px 24px 10px 24px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.hader-user {
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header-logo-name {
  font-size: 48px;
}

.header-logo-subname {
  font-size: 24px;
}

.color-orange {
  color: #ffd27d;
}

.profit-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Itim", cursive;
  margin-top: 63px;
}

.profit-home-title {
  font-size: 24px;
  color: #564787;
}

.profit-home-summary {
  font-size: 64px;
  color: #564787;
}

.record-home {
  font-family: "Itim", cursive;
  margin-top: 35px;
  font-size: 24px;
}

.record-summary {
  display: flex;
  justify-content: space-between;
  color: #564787;
}

.record-view-history {
  display: flex;
  justify-content: center;
  margin-top: 13px;
  color: #564787;
}

.order-home {
  margin-top: 35px;
  margin-bottom: 30px;
  font-family: "Itim", cursive;
}

.order-home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #564787;
  font-size: 24px;
  margin-bottom: 38px;
}

.card-order {
  background-color: #564787;
  border-radius: 16px;
  padding: 7px 14px;
  margin-bottom: 15px;
  font-family: "Itim", cursive;
}

.card-order-name-summary {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 18px;
  color: #FFFFFF;
}

.card-order-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  color: #DBCBD8;
}

.card-order-details > :nth-child(2n) {
  text-align: right;
}

.record-view-orders {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  margin-bottom: 10px;
  color: #564787;
}

.header-home {
  font-family: "Itim", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #564787;
  min-height: 110px;
}

.header-picture {
  max-width: 40px;
  max-height: 40px;
  clip-path: circle(50%);
}

.header-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  font-style: normal;
}

.header-user-text-name {
  color: #FFFFFF;
  font-size: 20px;
}

.header-user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
}

.header-user-text p {
  margin: 0 auto 0;
}

.chasky-black-header {
  background-color: #000;
  color: #FFD27D;
  width: 110px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
}

.brief {
  margin-top: 25px;
  padding-top: 0 !important;
  padding-bottom: 30px !important;
  color: #564787;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brief-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  position: relative;
}

.brief-info::before,
.brief-info::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: #564787;
  transform: translate(-50%, -50%);
}

/* Línea vertical */
.brief-info::before {
  width: 2px;
  height: 100%;
}

/* Línea horizontal */
.brief-info::after {
  width: 100%;
  height: 2px;
}

.brief-info-stat {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.brief-info-stat p {
  margin: 0;
  text-align: center;
}

.brief-subtitle {
  font-size: 20px;
}

.brief-stat {
  font-size: 36px;
}

@media screen and (max-width: 350px) {
  .record-view-orders {
  gap: 0;
  text-align: center;
}

  .header-user {
    gap: 5px;
  }
}

@media screen and (max-width: 425px) {
  .header-logo-name {
    font-size: 40px;
  }

  .header-logo-subname {
    font-size: 16px;
  }

  .brief-stat {
  font-size: 30px;
}

}

@media screen and (min-width: 700px) {
  .header-picture {
  max-width: 60px;
  max-height: 60px;
}
  .header-user {
    margin-left: 30px;
    gap: 60px;
  }

  .header-user-text-name {
  font-size: 28px;
}

.header-user-text {
  gap: 10px;
}
}