
.mapboxgl-map{
    display: flex;
    margin-bottom: 27px;
}
.mapboxgl-control-container{
    display: none !important;
}

.btns-monitoring{
    display: flex;
    justify-content: space-between;
    
}

.btn-cancel{
    background-color: #EF929B;
    color: #101935;
    border: none;
    padding: 11px;
    border-radius: 8px;
    font-size: 20px;
    min-width: 120px;
    font-family: "Itim", cursive;
}

.btn-accept{
    background-color: #9AD4D6;
    color: #101935;
    border: none;
    padding: 11px;
    border-radius: 8px;
    font-size: 20px;
    min-width: 120px;
    font-family: "Itim", cursive;
}

.loagin-accept{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Itim", cursive;
    font-size: 20px;
}

.monitoring {
    margin-top: 25px;
    margin-bottom: 30px;
}