.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-profile {
  font-family: "Itim", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #564787;
  min-height: 110px;
  padding-left: 30px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 20px;
}

.header-logo-subname {
  color: #FFF;
}

.header-page {
  color: #FFF;
  font-size: 28px;
  width: 30%;
}

.header-profile-name {
  font-size: 48px;
}

.header-profile-subname {
  color: #fff;
  font-size: 24px;
}

.picture {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.picture * {
  margin: 0;
}

.profile-picture {
  max-width: 162px;
  max-height: 162px;
  clip-path: circle(50%);
}

.picture-name {
  font-size: 34px;
  color: #564787;
  font-weight: normal;
}

.chasky-black {
  background-color: #000;
  color: #FFD27D;
  width: 160px;
  height: 30px;
  text-align: center;
  font-size: 22px;
  border-radius: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info:not(:last-child) {
  border-bottom: 1px solid #564787;
}

.contenedor-icono {
  width: 46px;
  height: 46px;
  border-radius: 15px;
  background-color: #F2FDFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-user {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5%;
}

.texto-user * {
  margin: 0;
}

.texto-user h4 {
  color: #878787;
  font-weight: normal;
}

.texto-user p {
  color: #564787;
}

.btn-edit {
  text-decoration: none;
  color: #101935;
  font-size: 24px;
  background-color: #9AD4D6;
  width: 70%;
  display: block;
  margin: 5% auto;
  text-align: center;
  line-height: 57px;
  border-radius: 15px;
  height: 57px;
}

.cerrar-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1%;
  margin-bottom: 5%;
  text-decoration: none;
}

.cerrar-sesion p {
  font-size: 20px;
  font-style: normal;
  color: #564787;
  width: 100%;
}

@media screen and (max-width: 430px) {
  .header-page {
    font-size: 24px;
    margin-right: 15px;
  }

  .header-logo {
    margin-right: 5px;
  }

  .header-profile {
    padding-left: 0px;
  }
}