.section-resend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.subtitle-pass {
    font-size: 36px;
    color: #564787;
    text-align: center;
}

.text-pass {
    font-size: 24px;
    color: #564787;
    text-align: center;
}

.resend {
    color: #122F89;
}