body {
    background-color: #564787;
    margin: 0px;
    font-family: "Itim", cursive;
}

body.background2 {
  background-color: #F2FDFF;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.title-h1{
    color: #C8A758;
    font-family: "Itim", cursive;
    font-size: 64px;
    margin: 0px;
}

.subtitle {
    font-size: 36px;
    font-family: "Itim", cursive;
    color: #FFFFFF;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.inputs-form {
    display: grid;
    align-items: center;
    gap: 14px;
    margin: 40px auto 40px;
    width: 80%;
}

input{
    height: 55px;
    border-radius: 16px;
    padding-left: 15px;
    font-family: "Itim", cursive;
    font-size: 24px;
}

.accion-login{
    background-color: #FFFFFF;
    height: 280px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
}

.accion-login> span {
    font-family: "Itim", cursive;
    color:#636363;
    font-size: 24px;
    margin: 10px 0px;

}

.btn {
    font-family: "Itim", cursive;
    font-size: 24px;
    border-radius: 16px;
    width: 80vw; /* vw -> view width */
    height: 55px;
    border: none;
}

.btn-login {
    background-color: #564787;
    color: #FFFFFF;
}

.btn-create-account {
    display: flex;
    align-items: center;
    background-color: #DBCBD8;
    color: #000;
    text-decoration: none;
    justify-content: center;
}

#forgot-pass-login {
    margin: 15px auto 20px;
}

@media screen and (max-width: 350px) {
    .inputs-form {
        width: 90%;
    }
}
